/*
0 - 600px:      Phone
600 - 900px:    Tablet (portrait)
900 - 1200px:   Tablet (landscape)
1200 - 1800px:  Desktop - base project sizes
1800px+:        Big-size screens
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0 3rem;
  overflow-x: hidden; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.container {
  max-width: 140rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .container {
      width: 100vw; } }

::selection {
  background-color: #C10202;
  color: #fff; }

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #999; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.white {
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-no-float {
  float: none; }

.u-horizontal-middle {
  width: 61% !important; }
  @media only screen and (max-width: 75em) {
    .u-horizontal-middle {
      width: 61% !important; } }
  @media only screen and (max-width: 56.25em) {
    .u-horizontal-middle {
      width: 75% !important; } }
  @media only screen and (max-width: 37.5em) {
    .u-horizontal-middle {
      width: 100% !important; } }

.book {
  float: left;
  width: calc((100% - 10rem) / 5);
  margin: 2rem 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .3s; }
  .book:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 75em) {
    .book {
      width: calc((100% - 16rem) / 4); } }
  @media only screen and (max-width: 56.25em) {
    .book {
      width: calc((100% - 12rem) / 3); } }
  @media only screen and (max-width: 37.5em) {
    .book {
      width: calc((100% - 12rem) / 2); } }
  .book__cover {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: 3px 3px 0 0; }
  .book__title {
    background-color: #fff;
    position: relative;
    line-height: 1.9rem;
    font-size: 1.6rem;
    padding: 0 1rem .5rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5.7rem;
    transition: all .3s; }
    .book__title a:link,
    .book__title a:visited {
      text-decoration: none;
      color: #333; }
  .book__price {
    background-color: #fff;
    height: 4rem;
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color: #C10202;
    align-self: flex-end; }
    .book__price--crossed {
      color: #777;
      text-decoration: line-through; }
    .book__price--promo {
      font-size: 2.2rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #fff;
  color: #999; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #C10202;
  color: #fff; }
  .btn--green::after {
    background-color: #C10202; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #C10202;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #DA0202;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #DA0202;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-submit {
  float: right; }

.stickynote {
  background-color: #f7f7f7;
  padding: .5rem;
  font-family: inherit;
  color: #000;
  text-align: center;
  border-radius: 3px;
  opacity: 0.95; }
  .stickynote div a {
    color: #C10202; }

.footer {
  background-color: #eee;
  color: #000;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 5rem;
  padding-top: 1rem; }
  .footer__main a {
    display: inline-block;
    font-weight: 700; }
    .footer__main a:link, .footer__main a:visited {
      text-decoration: none;
      color: #333;
      padding: 0 2rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 230%;
      transition: all .4s; }
    .footer__main a:hover, .footer__main a:active {
      background-position: 100%;
      color: #C10202;
      transform: translateX(1rem);
      font-weight: 700; }
  .footer__secondary {
    padding-top: 1rem;
    font-size: 1.8rem; }
    .footer__secondary a {
      text-decoration: none;
      color: #333;
      padding: 0 2rem;
      display: inline-block; }
      .footer__secondary a:link, .footer__secondary a:visited {
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
        background-size: 230%;
        transition: all .4s; }
      .footer__secondary a:hover, .footer__secondary a:active {
        background-position: 100%;
        color: #C10202;
        transform: translateX(1rem);
        font-weight: 700; }
  .footer__copyright a {
    padding-bottom: 2rem;
    text-decoration: none;
    color: #C10202;
    font-size: 1.8rem; }

.form {
  width: 100%;
  padding: 3rem 5rem 3rem 2rem;
  margin: 0 auto;
  text-align: left;
  color: #000; }
  .form__group {
    width: 60%;
    margin: 0 auto; }
    .form__group:not(:last-child) {
      margin-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .form__group {
        width: 75%; } }
    @media only screen and (max-width: 37.5em) {
      .form__group {
        width: 90%; } }
  .form__input {
    width: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid #777;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #A80202; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #DA0202; }
    .form__input:focus:valid {
      border-bottom: 3px solid #A80202; }
    .form__input::-webkit-input-placeholder {
      color: #777; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transform: translateY(-7rem);
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.navigation {
  width: 100%; }
  .navigation__top {
    background-color: #eee;
    height: 3rem;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700; }
    @media only screen and (max-width: 37.5em) {
      .navigation__top {
        position: fixed;
        z-index: 4; } }
  .navigation__link {
    float: right; }
    .navigation__link:link, .navigation__link:visited {
      padding: .2rem 2rem;
      color: #333;
      text-decoration: none;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 230%;
      transition: all .4s; }
    .navigation__link:hover, .navigation__link:active {
      background-position: 100%;
      color: #C10202;
      transform: translateX(1rem); }
  .navigation__main {
    width: 100%; }
    .navigation__main--logo {
      padding-top: 2rem;
      width: 100%; }
    .navigation__main--search {
      padding: 3rem 0;
      margin-right: -5rem;
      text-align: center; }
      .navigation__main--search input[type=text] {
        font-family: inherit;
        color: #000;
        font-size: 2rem;
        padding: 1.5rem 2rem;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        width: 70%;
        transition: all .3s; }
        @media only screen and (max-width: 37.5em) {
          .navigation__main--search input[type=text] {
            width: 90%;
            margin: 1rem auto; } }
        .navigation__main--search input[type=text]:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          border-bottom: 3px solid #C10202; }
      .navigation__main--search input[type=submit] {
        font-family: inherit;
        color: inherit;
        font-size: 2rem;
        background-color: #DA0202;
        padding: 1.5rem 2rem;
        border-radius: 4px;
        margin-left: 2rem;
        color: #fff;
        border: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all .3s; }
        @media only screen and (max-width: 37.5em) {
          .navigation__main--search input[type=submit] {
            width: 85%;
            margin: 1rem;
            padding: .5rem 1rem;
            font-weight: 700; } }
        .navigation__main--search input[type=submit]:hover {
          transform: translateY(-0.3rem);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .navigation__main--search input[type=submit]:active, .navigation__main--search input[type=submit]:focus {
          outline: none;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          transform: translateY(0); }
  .navigation__motto {
    font-family: "Lobster", cursive;
    font-size: 2.5rem;
    color: #C10202;
    float: left; }
    @media only screen and (max-width: 75em) {
      .navigation__motto {
        float: none; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__motto {
        display: none; } }
    .navigation__motto--paragraph {
      margin-left: 2rem;
      padding-left: 2rem;
      text-align: left; }

.shopping-cart__preview {
  margin-top: 2rem;
  margin-right: 2rem;
  color: #000;
  width: 100%;
  height: 12rem;
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .shopping-cart__preview--title {
    color: #C10202;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 2rem; }
  .shopping-cart__preview--content {
    font-size: 2.5rem;
    margin-left: 2rem; }
    .shopping-cart__preview--content span {
      font-weight: 700; }
    .shopping-cart__preview--content div:last-of-type {
      color: #777; }
  .shopping-cart__preview--icon {
    float: right;
    margin-right: 2rem;
    margin-top: -3rem;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: #DA0202;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .3s; }
    .shopping-cart__preview--icon i {
      margin-top: 50%;
      margin-left: 50%;
      transform: translateX(-50%) translateY(-50%); }
    .shopping-cart__preview--icon:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .shopping-cart__preview--icon:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0); }

.side-menu__open {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .side-menu__open {
      display: inline-block; } }

@media only screen and (max-width: 75em) {
  #main-logo {
    width: 40% !important; } }

@media only screen and (max-width: 37.5em) {
  #main-logo {
    width: 100% !important; } }

@media only screen and (max-width: 75em) {
  #main-form-search {
    width: 100% !important; } }

@media only screen and (max-width: 75em) {
  #shopping-cart-preview {
    width: 35% !important;
    float: right; } }

@media only screen and (max-width: 56.25em) {
  #shopping-cart-preview {
    width: 50% !important;
    float: right; } }

@media only screen and (max-width: 37.5em) {
  #shopping-cart-preview {
    width: 100% !important;
    margin: 0 auto; } }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5%; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3%; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 90vw;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3%; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3%; } }
    @media only screen and (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 3%) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3%) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3%) / 3) + 3%); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3%) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3%) / 4) + 3%); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 3%) / 4) + 2 * 3%); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 3%) / 5); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - 4 * 3%) / 5) + 3%); }
  .row .col-3-of-5 {
    width: calc(3 * ((100% - 4 * 3%) / 5) + 3 * 3%); }
  .row .col-4-of-5 {
    width: calc(4 * ((100% - 4 * 3%) / 5) + 4 * 3%); }

.form__more-opt--list {
  list-style: none; }

.list-item {
  padding: 1rem; }

@media only screen and (max-width: 75em) {
  #login-form .form__group {
    width: 80%; } }

@media only screen and (max-width: 56.25em) {
  #rightmost-pane {
    display: none; } }

.header__promo {
  width: 100%;
  padding: 2rem 0 0 0;
  font-size: 2.5rem;
  font-weight: 700;
  float: right;
  border-bottom: 0.3rem solid #777; }
  .header__promo--item {
    margin: 0 1rem;
    float: right; }
    @media only screen and (max-width: 37.5em) {
      .header__promo--item {
        margin: 0 .2rem;
        font-size: 2rem; } }
    .header__promo--item a:link,
    .header__promo--item a:visited {
      display: inline-block;
      background-color: #777;
      padding: 0 .5rem;
      border-radius: 1rem 1rem 0 0;
      text-decoration: none;
      color: #fff;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #eee 50%);
      background-size: 230%;
      transition: all .4s; }
    .header__promo--item a:hover,
    .header__promo--item a:active {
      background-position: 100%;
      color: #C10202;
      transform: translateX(1rem) translateY(-0.1rem); }

.left-pane {
  width: 19%;
  display: inline-block;
  vertical-align: top;
  background: #fff; }
  @media only screen and (max-width: 75em) {
    .left-pane {
      width: 19%; } }
  @media only screen and (max-width: 56.25em) {
    .left-pane {
      width: 24%; } }

.side-menu {
  width: 100%;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0 1rem 1rem 0;
  border-bottom: 1px solid #000;
  background-color: #eee;
  margin-top: 3rem; }
  .side-menu__close {
    position: absolute;
    top: 0;
    left: 22rem;
    font-size: 4rem;
    color: #C10202;
    text-decoration: none;
    z-index: 3;
    height: 5rem;
    width: 5rem;
    transition: all .4s;
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .side-menu__close {
        display: block; } }
  .side-menu__title {
    background-color: #f7f7f7;
    color: #C10202;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 1rem;
    border-bottom: 1px solid #777;
    border-top-right-radius: 1rem;
    text-transform: uppercase; }
  .side-menu__items {
    font-size: 1.6rem; }
  .side-menu__item {
    display: block; }
    .side-menu__item:link, .side-menu__item:visited {
      color: #333;
      text-decoration: none;
      padding: 0 2rem;
      margin-right: 1rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 230%;
      transition: all .4s; }
    .side-menu__item:hover, .side-menu__item:active {
      color: #C10202;
      font-weight: 700;
      transform: translateX(1rem);
      background-position: 100%;
      cursor: pointer; }
  .side-menu__more {
    text-align: right;
    padding: 0 .5rem; }
    .side-menu__more--link:link, .side-menu__more--link:visited {
      padding: .5rem;
      text-decoration: none;
      font-size: 1.6rem;
      color: #C10202;
      font-weight: 700;
      transition: all .3s; }
    .side-menu__more--link:hover, .side-menu__more--link:active {
      transform: translateX(-1rem) scale(1.1); }
  .side-menu__partner {
    background-color: #fff;
    border-bottom-right-radius: 1rem; }
  .side-menu__logo-partner {
    width: 100%;
    padding: 0 1rem;
    border-bottom-right-radius: 1rem; }
  .side-menu__subscription {
    color: #333;
    padding: 1rem;
    position: relative; }
    .side-menu__subscription input[type=email] {
      display: block;
      padding: .5rem;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      border-bottom: 3px solid transparent;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      width: 100%;
      transition: all .3s; }
      .side-menu__subscription input[type=email]:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid #C10202; }
    .side-menu__subscription input[type=submit] {
      margin-top: 1rem;
      background-color: #C10202;
      color: #fff;
      border: none;
      padding: .5rem;
      border-radius: 4px;
      transition: all .3s;
      position: relative;
      right: -50%; }
      .side-menu__subscription input[type=submit]:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .side-menu__subscription input[type=submit]:active, .side-menu__subscription input[type=submit]:focus {
        outline: none;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        transform: translateY(0); }
  .side-menu__recommended {
    background-color: #fff;
    border-bottom-right-radius: 1rem; }
    .side-menu__recommended--book {
      width: 90%;
      padding: 2rem;
      text-align: center; }
      .side-menu__recommended--book a:link,
      .side-menu__recommended--book a:visited {
        text-decoration: none;
        color: #333; }

.right-pane {
  width: 80%;
  display: inline-block;
  padding: 0 2rem; }
  @media only screen and (max-width: 75em) {
    .right-pane {
      width: 80%; } }
  @media only screen and (max-width: 56.25em) {
    .right-pane {
      width: 75%; } }
  @media only screen and (max-width: 37.5em) {
    .right-pane {
      width: 100%; } }

.gallery {
  width: 100%; }
  .gallery__frame {
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.1); }
    .gallery__frame::after {
      content: "";
      clear: both;
      display: table; }
    .gallery__frame--header {
      width: 100%;
      height: 5.5rem;
      margin-top: 2rem;
      color: #C10202;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
      .gallery__frame--header a {
        text-decoration: none;
        color: #A80202; }
    .gallery__frame--title {
      width: 80%;
      padding-left: 1rem;
      float: left; }
      .gallery__frame--title h1 {
        text-align: left !important; }
      .gallery__frame--title h1 a {
        text-decoration: none;
        color: #C10202; }
    .gallery__frame--more {
      float: right;
      padding: 1rem; }
    .gallery__frame--items {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
    @media only screen and (max-width: 75em) {
      .gallery__frame--slideshow {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; }
        .gallery__frame--slideshow::-webkit-scrollbar {
          display: none; }
        .gallery__frame--slideshow .book {
          flex: 0 0 auto; } }

@media only screen and (max-width: 37.5em) {
  #left-pane {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0.95;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .4s; } }

@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  #left-pane {
    width: 24% !important; } }

@media only screen and (min-width: 56.25em) {
  #left-pane {
    width: 19% !important; } }

.info {
  width: 100%;
  padding: 2rem;
  font-size: 1.6rem;
  text-align: center;
  color: #333; }
  .info__headline {
    color: #777; }
  .info__headline--nav {
    text-align: left; }
    .info__headline--nav a:link,
    .info__headline--nav a:visited {
      color: #DA0202;
      text-decoration: none;
      font-size: 1.6rem; }
  .info__card {
    margin-top: 3rem;
    padding: 1rem;
    height: 22rem;
    color: #333;
    position: relative;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 56.25em) {
      .info__card {
        width: 100% !important;
        height: 100%; } }
  .info__card .btn-text {
    display: block;
    position: absolute;
    bottom: 0;
    right: 1rem;
    padding-top: 1rem; }

.product-pane {
  height: 45rem;
  color: #000;
  font-size: 1.5rem; }
  .product-pane__cover {
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .product-pane__image {
    display: block;
    width: 100%;
    margin: 0 auto;
    object-fit: contain; }
  .product-pane__specifications {
    min-height: 25rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
    .product-pane__specifications h1 {
      color: #A80202;
      font-size: 2rem; }
    .product-pane__specifications a {
      font-size: 1.5rem !important; }
  .product-pane__cta {
    min-height: 20rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: relative; }
    .product-pane__cta a {
      font-size: 1.5rem !important; }
    .product-pane__cta--buy {
      background-color: #DA0202;
      position: absolute;
      margin: 2rem;
      padding: 1rem;
      top: 0;
      right: 0;
      border-radius: 5px;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      transition: .3s; }
      .product-pane__cta--buy a:link,
      .product-pane__cta--buy a:visited {
        text-decoration: none;
        color: #fff;
        font-weight: 700; }
      .product-pane__cta--buy:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .product-pane__cta--buy:active {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
