@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin animateLinkState($color) {
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color 50%);
  background-size: 230%;
  transition: all .4s;
}

@mixin animateHoverState($color) {
  background-position: 100%;
  color: $color;
  transform: translateX(1rem);
  font-weight: 700;
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet (portrait)
900 - 1200px:   Tablet (landscape)
1200 - 1800px:  Desktop - base project sizes
1800px+:        Big-size screens
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 26.56em) { @content; }
  }
  @if $breakpoint == tab-portrait {
    @media only screen and (max-width: 48em) { @content; }
  }
  @if $breakpoint == tab-landscape {
    @media only screen and (max-width: 64em) { @content; }
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: 90em) { @content; }
  }

  @if $breakpoint == revert-from-phone {
    @media only screen and (min-width: 26.56em) and (max-width: 48em) { @content; }
  }

  @if $breakpoint == revert-from-tab {
    @media only screen and (min-width: 48em) { @content; }
  }
}