.book {
  float: left;
  width: calc((100% - 14rem) / 5);
  margin: 2rem 1.4rem;
  box-shadow: .5rem .5rem 1rem rgba($color-black, .2);
  border-radius: 3px;
  border-left: 1px solid rgba($color-primary-light, .1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform .3s, box-shadow .3s, border-left .3s ease-in-out;

  &:hover {
    transform: translateY(-.5rem);
    box-shadow: .5rem .5rem 1rem rgba($color-black, .3);
    border-left: 1px solid rgba($color-primary-light, .2);
  }

  @include respond(tab-landscape) {
    margin: 2rem 1.4rem;
    width: calc((100% - 14rem) / 4);
  }

  @include respond(tab-portrait) {
    margin: 2rem 1.2rem;
    width: calc((100% - 12rem) / 3);
  }

  @include respond(phone) {
    margin: 2rem 1rem;
    width: calc((100% - 10rem) / 2);
  }

  &__cover {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 3px 3px 0 0;
  }

  &__title {
    background-color: $color-white;
    position: relative;
    line-height: 1.9rem;
    font-size: 1.6rem;
    padding: 0 1rem .5rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5.7rem;
        
    & a:link,
    & a:visited {
      text-decoration: none;
      color: $color-grey-dark-3;
    }
  }

  &__price {
    background-color: $color-white;
    min-height: 4rem;
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color: $color-primary;
    align-self: flex-end;

    &--crossed {
      color: $color-grey-dark-2;
      text-decoration: line-through;
    }

    &--promo {
      font-size: 2.2rem;
    }
  }
}