.book {
  float: left;
  width: calc((100% - 10rem) / 5);
  margin: 2rem 1rem;
  box-shadow: .5rem .5rem 1rem rgba($color-black, .2);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all .3s;

  &:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 1rem 1rem 2rem rgba($color-black, .3);

    .book__title {
      transform: translateY(-6rem);
      overflow: visible;

      & a {
        font-size: 1.8rem;
        color: $color-black;
      }
    }
  }

  @include respond(tab-landscape) {
    width: calc((100% - 8rem) / 4);
  }

  @include respond(tab-portrait) {
    width: calc((100% - 6rem) / 3);
  }

  @include respond(phone) {
    width: calc((100% - 4rem) / 2);
  }

  &__cover {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
  }

  &__title {
    background-color: $color-white;
    background-size: cover;
    font-size: 1.6rem;
    padding: 0 1rem;
    overflow: hidden;
    height: 6rem;

    transition: all .3s;
    
    & a:link,
    & a:visited {
      text-decoration: none;
      color: $color-grey-dark-3;
    }
  }

  &__price {
    background-color: $color-white;
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color: $color-primary;
    align-self: flex-end;
    z-index: 2;

    &--crossed {
      color: $color-grey-dark-2;
      text-decoration: line-through;
    }

    &--promo {
      font-size: 2.2rem;
    }
  }
}