*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-landscape) {
    font-size: 56.25%;
  }

  @include respond(tab-portrait) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 0 3rem;
  overflow-x: hidden;
  background-color: $color-papyrus;

  @include respond(tab-portrait) {
    padding: 0;
  }
}

.container {
  background-color: $color-white;
  max-width: 128rem;
  margin: 0 auto;
  border-left: 1px solid rgba($color-primary-dark, .1);
  border-right: 1px solid rgba($color-primary-dark, .1);
  @include respond(tab-portrait) {
    width: 100vw;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}