.form__more-opt {

  &--list {
    list-style: none;
  }
}

.list-item {
  padding: 1rem;
}

#login-form {
  & .form__group {
      @include respond(tab-landscape) {
      width: 80%;
    }
  }
}

#rightmost-pane {
  @include respond(tab-portrait) {
    display: none;
  }
}