.product-pane {
  min-height: 45rem;
  color: $color-black;
  font-size: 1.5rem;

  &__cover {
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba($color-black, .1);
    background-color: $color-white;
  }

  &__image {
    display: block;
    width: 100%;
    margin: 0 auto;
    object-fit: contain;

    @include respond(phone) {
      width: 60%;
    }
  }

  &__specifications {
    background-color: $color-white;
    min-height: 25rem;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba($color-black, .1);

    & h1 {
      color: $color-primary-dark;
      font-size: 2rem;
    }

    & a {
      font-size: 1.5rem !important;
    }
  }

  &__cta {
    background-color: $color-white;
    min-height: 20rem;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba($color-black, .1);
    position: relative;

    & a {
      font-size: 1.5rem !important;
    }

    &--buy {
      background-color: $color-primary-light;
      position: absolute;
      margin: 2rem;
      padding: 1rem;
      top: 0;
      right: 0;
      border-radius: 5px;
      text-transform: uppercase;
      color: $color-white;
      cursor: pointer;
      box-shadow: 0 .5rem 1rem rgba($color-black, .1);

      transition: transform .3s, box-shadow .3s ease-in-out;

      & a:link,
      & a:visited {
        text-decoration: none;
        color: $color-white;
        font-weight: 700;
      }

      &:hover {
        transform: translateY(-.5rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
      }

      &:active {
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .1);
      }
    }
  }
}

.recommend-right {
  @include respond(revert-from-phone) {
    display: none;
  }
}

#product-main-container {
  background-color: $color-grey-light-1;
  @include respond(tab-portrait) {
    width: 100% !important;
  }
}

#product-cover {
  @include respond(tab-portrait) {
    width: 40%;
  }
}

#product-specifications {
  @include respond(tab-portrait) {
    width: 60%;
  }
}