.header__promo {
  width: 100%;
  padding: 2rem 0 0 0;
  font-size: 3rem;
  font-weight: 700;
  float: right;
  border-bottom: .3rem solid $color-grey-dark-2;

  &--item {
    margin: 0 1rem;
    float: right;

    & a:link,
    & a:visited {
      display: inline-block;
      background-color: $color-grey-dark-2;
      padding: 0 .5rem;
      border-radius: 1rem 1rem 0 0;
      text-decoration: none;
      color: $color-white;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-grey-light-2 50%);
      background-size: 230%;
      transition: all .4s;
    }

    & a:hover,
    & a:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem) translateY(-.1rem);
    }
  }
}
